:root{
    --dark: black;
    --medium: gray;
    --light: gainsboro; 
}

body{
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 110%;
    font-family: 'Barlow Condensed', sans-serif;;
}

#wrapper {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    height: calc(100% - 4px);
    border: var(--dark) solid 2px;
}

header {
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    left: 0px;
    top: 0px;
    max-width: 600px;
    width: 100%;
    height: 20%;
}

#dices {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
}

.die {
    border: var(--dark) solid 2px;
    width: 10%;
}

.die:before{
	content: "";
	display: block;
	padding-top: 100%; 	/* ratio of 1:1*/
}

#info {
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 20%;
}

.task {
    border: var(--dark) solid 1px;
    flex-grow: 1;
}

.task > p {
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: 8%;
    padding-right: 8%;
    margin: 0px;
}

.player{
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 20%;
}

@media only screen and (max-width: 484px){
    body{ 
        font-size: 90%;
    }
}

@media only screen and (max-width: 389px){
    body{ 
        font-size: 80%;
    }
}