:root {
  --dark: black;
  --medium: gray;
  --light: gainsboro;
}

body {
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 110%;
  font-family: 'Barlow Condensed', sans-serif;
}

nav {
  height: 5%;
  width: 100%;
  position: absolute;
  top: 0;
  display: flex;
  z-index: 5;
}

nav > div {
  background-color: grey;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav > h1 {
  background-color: grey;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0;
}

nav > div:hover {
  background-color: lightgray;
}

#wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  width: 96%;
  max-width: 600px;
  height: calc(98% - 4px);
  border: var(--dark) solid 2px;
}
main {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 100%;
}

header {
  display: none;
  align-items: center;
  flex-direction: column;
  margin-top: 15%;
  left: 0px;
  top: 0px;
  max-width: 600px;
  width: 100%;
}

#roller {
  padding: 1%;
}

#info {
  display: flex;
  flex-direction: column;
  height: 95%;
  width: 20%;
}

.task {
  border: var(--dark) solid 1px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.task > p {
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: 8%;
  padding-right: 8%;
  margin: 0px;
}

.player {
  display: flex;
  flex-direction: column;
  height: 95%;
  width: 20%;
}

.active {
  background-color: lightgray;
}

input {
  height: 105%;
  width: 100%;
  padding: 0px;
  border: 0px;
  text-align: center;
}

@media only screen and (max-width: 484px) {
  body {
    font-size: 90%;
  }
}

@media only screen and (max-width: 389px) {
  body {
    font-size: 80%;
  }
}
